# Python
*.pyc
*.pyo
__pycache__/
*.pyd
.Python
env/
venv/
ENV/
*.db
*.sqlite3
*.log

# Django
*.log
*.pot
*.py[cod]
*~ 
*.swp
*.swo

# Django secret key file
secret_key.txt

# Test and coverage directories
.coverage
*.cover
.tox/
.nox/
*.hypothesis/
.pytest_cache/

# IDE and editor settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db


#envirement
.env